/***
////////// BODY
*/

body {
	box-sizing: border-box;
	font-family: "Crimson Text", serif;
	margin: 0 auto;
}

/***
////////// Landing Page
*/

.hero {
	height: 100vh;
	background: url('../assets/images/donuts.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	opacity: 0.8;
	position: relative;
}

.head, .sub-head {
	/* color: #FFFAFA; */
	color: #ECECEC;
}

.head {
	/* color: white; */
	float: right;
	font-family: "Tangerine", serif;
	font-size: 85px;
	letter-spacing: 7px;
	padding-left: 50px;
	position: relative;
	bottom: 30px;
}

.sub-head {
	/* color: white; */
	top: 78vh;
	font-size: 40px;
	padding-right: 35px;
	position: absolute;
	right: 0;
}

.cake {
	font-family: "Emilys Candy", serif;
	color: #FFC0CB;
}

.code {
	font-family: "Iceland", serif;
	color: #2ECC71;
}

/***
*** BIO
**/

.bio {
	background-color: yellow;
}

/****
** PROJECTS
**/

.projects {
	background-color: red;
}
