body {
	box-sizing: border-box;
	font-family: "Assistant", "Noto Serif", sans-serif, serif;
	margin: 0 auto;
	background: #eceff1;
	color: #1a237e !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ======================
===== NAV BAR ======
=========================
*/

.navbar {
	background: #eceff1 !important;
}

.home {
	font-family: "Crimson Text", sans-serif;
	font-size: 45px;
}

.home:hover {
	color: #7986cb !important;
	transition: 0.5s ease;
}

.nav-link {
	font-family: "Assistant" !important;
	font-size: 25px;
	color: #ad1457 !important;
}

.nav-link:hover {
	color: #f06292 !important;
	transition: 0.5s ease;
}

.project-link {
	margin-right: 40px;
}


.home {
	color: #1a237e !important;
}

div.right {
	text-align: right;
	font-family: "Assistant", sans-serif;
}

/* ==============
==== PROJECTS =======
=================  */

/* === HEADERS ===  */

/* = MAIN HEADERS = */
.header-project {
	text-align: center;
	padding: 25px 0;
	/* font-weight: bold; */
}
.sub-header-project {
	font-weight: bold;
	padding: 10px 0;
	color: #ad1457 !important;
	font-weight: bold;
}

.second-header-project {
	font-weight: bold;
	padding: 10px 0;
	letter-spacing: 1.5px;
}

.underline {
	padding-bottom: 3px;
	border-bottom: 1px solid #b0bec5;
	/* line-height: 48px; */
}

.underline-page {
	padding-bottom: 3px;
	border-bottom: 1px solid #b0bec5;
	line-height: 48px;
}

/* ====== */



/* IMAGES  */

/* WIBO IMAGES */
.img-project {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

.research-image {
	padding: 0 8px;
	height: 265px;
	width: 315px;
}

.mockup {
	padding: 0 8px;
	height: 300px;
	width: 465px;
}
/* ========================= */

/* WIBO IMAGES  */

.wibo-photo {
	height: 235px;
	width: 600px;
	padding-bottom: 15px;
}

/* PUNCH UP IMAGES  */

.punch-research-image {
	height: 320px;
	width: 450px;
}

.compet-research-image {
	height: 100px;
	width: 300px;
	padding-bottom: 5px;
}
/* =============== */

/* FEMME TECH IMAGES */

.platform-research-image {
	height: 125px;
	width: 215px;
}

.buzzword-research-image {
	height: 210px;
	width: 210px;
}

.persona-research-image {
	height: 300px;
	width: 550px;
}

.femme-research-image {
	height: 320px;
	width: 250px;
}

/* TEXT */

.summary {
	padding: 8px 0;
}

.click-view {
	font-style: italic !important;
	text-align: center;
	font-size: 14px;
}

/* WIDTH, GRID, COLUMNS  */
.project-details {
	margin: 2% 10%;
	font-size: 18.5px;
}

.center {
	text-align: center;
}


/* ====================
==== MENU BOTTOM LIST ====
======================= */

.underline-projects {
	border-top: 1px solid #90a4ae;
}

#list-projects {
	margin-top: 20px;
	text-align: center;
}

.list-projects-links {
	display: inline;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding: 0 10px;
}

a.bottom-list-links {
	/* color: #ad1457 !important; */
	color: #00897b !important;
}

a.bottom-list-links:hover {
	text-decoration: none;
	/* color: #f06292 !important; */
	color: #0097a7 !important;
	transition: 0.5s ease;
}
