/* =================
			G L O B A L
==================== */

body {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif, serif;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:link {
	text-decoration: none;
}

i {
	padding-bottom: 45px;
}

.copyright {
	text-align: center;
	padding: 20px;
}

button {
	margin: 5px !important;
}

/* ======================
===== NAV BAR ======
=========================
*/

.navbar {
	background: #ffffff !important;
	opacity: 1;
}

.home {
	font-size: 45px;
}

.home:hover {
	color: #7986cb !important;
	transition: 0.5s ease;
}

.nav-link {
	font-size: 25px;
	color: #1565c0 !important;
}

.nav-link:hover {
	color: #2196f3 !important;
	transition: 0.5s ease;
}

.project-link {
	margin-right: 40px;
}


.home {
	color: #1a237e !important;
}

div.right {
	text-align: right;
	font-family: "Assistant", sans-serif;
}

/* BUTTONS */

.marvel-button {
	height: 60px;
	width: 225px;
	background: #009688;
	border-radius: 20px;
	padding-top: 10px;
	cursor: pointer;
}

.marvel-link {
	color: white;
	font-weight: 800;
	letter-spacing: 1px;
}

.marvel-button:hover {
	background: #000000;
	transition: 0.5s ease;
}


/* +++++++++++ DRAFTS +++++++++++
+++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++ */
