/***
////////// BODY
*/

body {
	box-sizing: border-box;
	font-family: "Crimson Text", serif;
	margin: 0 auto;
}

a:hover {
	color: #16A085;
}

a:link {
	text-decoration: none;
}

button {
	border: none;
}

button:hover {
	background-color: #ECF0F1;
}

h1, h4, h5 {
	 font-weight: bold;
	 text-transform: uppercase;
}

h1 {
	letter-spacing: 4px;
}

h3 {
	font-weight: bold;
}

h4 {
	letter-spacing: 3px;
}

h5 {
	letter-spacing: 3px;
}
/***
////////// Landing Page
*/

.hero {
	height: 100vh;
	background: url('../assets/images/donuts.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	opacity: 0.9;
	position: relative;
}

.head, .sub-head {
	/* color: #FFFAFA; */
	color: #ECECEC;
}

.head {
	float: left;
	font-size: 65px;
	letter-spacing: 3px;
	padding-top: 55px;
	position: relative;
	/* bottom: 30px; */
}

.sub-head {
	/* color: white; */
	top: 78vh;
	font-size: 40px;
	padding-right: 35px;
	position: absolute;
	right: 0;
}

.cake {
	font-family: "Emilys Candy", serif;
	color: #FFC0CB;
}

.code {
	font-family: "Iceland", serif;
	color: #2ECC71;
}

/****
** PROJECTS
**/

.projects {
	background-color: #FFFFF0;
	padding-bottom: 20px;
	width: 100vw;
}

.project-header {
	padding-top: 15px;
}

.project-sub-head {
	letter-spacing: 2px;
	padding-top: 10px;
	text-align: center;
}

.photos {
	height: 275px;
	width: 275px;
	/* position: relative; */
}

.technologies {
	display: none;
	position: absolute;
	text-align: center;
	top: 0;
}

div.technologies:hover, a.wrapper:hover + div {
	background-color: grey;
	display: block;

}

.project-summary {
	font-size: 18px;
}

/* Button Style */

.buttons {
	padding-left: 55px;
	margin: 0 auto;
}

.button-project, .button-github {
	position: relative;
}

.button-project {
	background-color: #FFC0CB;
}

.button-github {
	background-color: #2ECC71;
}

/***
*** BIO
**/

.bio {
	background-color: #C5EFF7;
	font-size: 20px;
	width: 100vw;
}

.bio-header {
	letter-spacing: 3px;
	padding-top: 15px;
}

.jane {
	float:left;
	height: 25%;
	padding: 10px 10px 10px 10px;
	width: 35%;
}

.bio-stuff {
	display:inline;
}

.bio-story {
	/* width: 60%; */
}

.bio-story2 {
	float: left;
	margin-left: 10px;
}

.skills {
	position: relative;
}

.reach-me {
	position: relative;
	margin-left: 10%;
}

.contact {
	height: 75px;
	margin: 0 5% 0 5%;
	padding-left: 15px;
	padding-right: 15px;
	width: 75px;
}
